<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Lista de Categorias</title>
	<!-- Link para o Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" th:href="@{/categorias}">Listagem de Categorias</a>
		<a class="navbar-brand" th:href="@{/produtos}">Listagem de Produtos</a>
	</nav>

	<div class="container mt-3">
		<h2>Lista de Categorias</h2>
		<a class="btn btn-primary mb-2" th:href="@{/categorias/novo}">Adicionar Categoria</a>
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th>ID</th>
					<th>Nome</th>
					<th>Descrição</th>
					<th>Ações</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="categoria : ${categorias}">
					<td th:text="${categoria.id}"></td>
					<td th:text="${categoria.nome}"></td>
					<td th:text="${categoria.descricao}"></td>
					<td>
						<a class="btn btn-info btn-sm"
							th:href="@{/categorias/editar/{id}(id=${categoria.id})}">Editar</a>
						<a class="btn btn-danger btn-sm"
							th:href="@{/categorias/deletar/{id}(id=${categoria.id})}">Excluir</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

</body>

</html>